.certification_block {
  position: relative;
  padding: 0px 160px 0px 160px;
}
.certification_block .title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 48px;
}
.certification_card_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.certification_card_block .one {
  background-image: url("less/img/certification_one.png");
}
.certification_card_block .two {
  background-image: url("less/img/certification_two.png");
}
.certification_card_block .three {
  background-image: url("less/img/certification_three.png");
}
.certification_card_block .four {
  background-image: url("less/img/certification_four.png");
}
.certification_card_block .certification_card {
  background-repeat: no-repeat;
  background-size: cover;
  width: 257px;
  height: 357px;
}
.partners_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 152px;
  height: 86px;
  padding-bottom: 48px;
  border-bottom: 1px solid #E7E7E7;
}
.partners_block .partners_card {
  background-repeat: no-repeat;
  background-size: cover;
}
.partners_block .lukoil {
  background-image: url("less/img/lukoil.png");
  width: 196px;
  height: 52px;
}
.partners_block .gazprom {
  background-image: url("less/img/gazprom.png");
  width: 160px;
  height: 77px;
}
.partners_block .rosneft {
  background-image: url("less/img/rosneft.png");
  width: 217px;
  height: 112px;
}
.partners_block .tatneft {
  background-image: url("less/img/tatneft.png");
  width: 202px;
  height: 56px;
}
.button_next,
.button_prev {
  width: 56px;
  height: 56px;
  border: 1px solid #D5D5D5;
  background-color: white;
}
.button_next {
  position: absolute;
  right: 172px;
  top: 0px;
}
.button_next .icon_next {
  background-image: url("less/img/icon_button_arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 7px;
  height: 14px;
  rotate: 180deg;
  margin: 0 auto;
}
.button_prev {
  position: absolute;
  right: 244px;
  top: 0px;
}
.button_prev .icon_prev {
  background-image: url("less/img/icon_button_arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 7px;
  height: 14px;
  margin: 0 auto;
}
.button_next,
.button_prev:hover {
  cursor: pointer;
}
