.quick_order_block {
  padding: 0px 160px 0px 160px;
  margin-bottom: 100px;
}
.quick_order_block .title_main {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 48px;
}
.quick_order_block form {
  width: 100%;
  height: 289px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}
.form_block {
  position: absolute;
  left: 96px;
  top: 49px;
}
.form_block .title_min {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 30px;
}
.form_block .title_min span {
  color: #098FCF;
}
.user_info_block {
  display: flex;
  align-items: flex-end;
}
.first_name_conteiner {
  width: 273px;
  margin-right: 14px;
}
.telephone_conteiner {
  width: 273px;
  margin-right: 14px;
}
.label_info {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.input_info {
  margin-top: 8px;
  padding: 0px;
  width: 273px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
}
.input_info::placeholder {
  transform: translateX(15px) translateY(0px);
}
.submit {
  border: none;
  width: 258px;
  height: 46px;
  background: #098FCF;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.checkbox_block {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.checkbox_block input {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background: #F9F9F9;
  border: 1px solid #D5D5D5;
  border-radius: 0px;
}
