.table_block {
  padding: 0px 160px 0px 160px;
}
.table_block .title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 48px;
}
.table_conteiner {
  width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 100px;
}
thead {
  background-color: #043C77;
}
tr {
  color: white;
  width: 100%;
  height: 56px;
  margin-bottom: 20px;
}
tr th {
  padding: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
  border-spacing: 0;
}
.col_one {
  width: 163px;
}
.col_two {
  width: 286px;
}
.col_last {
  width: 223px;
}
.margin {
  height: 20px;
  width: 100%;
  background-color: white;
}
.disel {
  text-align: start;
  vertical-align: text-top;
  padding: 16px 0px 0px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  background: #098FCF;
  color: #FFFFFF;
}
.td {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  border: 1px solid #E7E7E7;
}
.min_title {
  text-align: start;
  vertical-align: text-top;
  padding: 16px 0px 0px 30px;
}
.tbody {
  border: 1px solid #E7E7E7;
}
.brdr_lft {
  border-left: none;
  border-right: none;
}
